@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
.input,
button {
  font-family: "Manrope", sans-serif;
}

.oneroute_widget {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000000;
}
@media screen and (max-width: 400px) {
  .oneroute_widget {
    right: 0;
    bottom: 0;
    padding: 0px;
    width: 100%;
  }
}

.none {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out !important;
  display: none;
}

.oneroute_widget .widget_container {
  margin-bottom: 10px;
  width: 350px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 2px 16px rgba(143, 159, 163, 0.3);
}
@media screen and (max-width: 400px) {
  .oneroute_widget .widget_container {
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
}

.oneroute_widget .top_section {
  padding: 24px;
  padding-bottom: 46px;
  border-radius: 6px 6px 0px 0px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .top_section {
    padding-top: 19%;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0;
  }
}

.oneroute_widget .top_section .close {
  position: absolute;
  display: block !important;
  top: 10px;
  right: 10px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .top_section .close {
    top: 10%;
  }
}

.oneroute_widget .top_section .close img {
  margin-bottom: -3px;
  width: 30px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.oneroute_widget .top_section .logo {
  margin-bottom: 24px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.oneroute_widget .top_section h3 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
}

.oneroute_widget .top_section h4 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.oneroute_widget .bottom_section {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 13px;
  border-radius: 0px 0px 6px 6px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .bottom_section {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.oneroute_widget .bottom_section .channels {
  margin-top: -24px;
  min-height: 150px;
}

.oneroute_widget .bottom_section .channels .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  padding: 11px 19px;
  padding-top: 12px;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(143, 159, 163, 0.24);
  border-radius: 25px 4px 4px 4px;
  cursor: pointer;
}

.oneroute_widget .bottom_section .channels .item img {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.oneroute_widget .bottom_section .channels .item.first img {
  opacity: 0.5;
}

.oneroute_widget .bottom_section .channels .item span {
  display: block;
  margin-top: -2px;
  font-weight: 600;
  font-size: 14px;
  color: #474f58;
}
.oneroute_widget .bottom_section .channels .item.first span {
  opacity: 0.5;
}

/* LiveChat Container Starts here */

.oneroute_widget .chat_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  padding: 11px 10px;
  border-radius: 6px 6px 0px 0px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .chat_header {
    padding-top: 19%;
    border-radius: 0;
  }
}

.oneroute_widget .chat_header .chevron {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.oneroute_widget .chat_header .chevron img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.oneroute_widget .chat_header .logo {
  margin-right: 16px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.oneroute_widget .chat_header p {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.oneroute_widget .error_message {
  margin: 0;
  margin-top: -3px;
  padding: 1px 5px;
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 120%;
  color: #fff;
  background: #da2d42;
}

.oneroute_widget .chat_signup_form {
  margin-bottom: 75px;
  padding: 30px 12px 0px 12px;
  height: 230px;
  width: 100%;
}

.oneroute_widget .chat_signup_form .form_group {
  margin-bottom: 17px;
  width: 100%;
}

.oneroute_widget .chat_signup_form .form_group .input {
  padding: 11px 10px;
  font-size: 13.5px;
  letter-spacing: 0.2px;
  width: 100%;
  border: 1px solid #cad0d9;
  border-radius: 6px;
}
.oneroute_widget .chat_signup_form .form_group .input:focus {
  border: 1px solid #4ba3e7;
  box-shadow: none;
  outline: none;
}

.oneroute_widget .chat_signup_form button {
  padding: 12px 8px;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0.2px;
  width: 100%;
  color: #fff;
  background: #4ba3e7;
  border: 1px solid #4ba3e7;
  border-radius: 6px;
  cursor: pointer;
}
.oneroute_widget .chat_signup_form button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.oneroute_widget .chat_container {
  padding-bottom: 1px;
}

.oneroute_widget .chat_messages {
  padding: 30px 12px 0px 12px;
  height: 230px;
  overflow-y: scroll;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .chat_messages {
    height: 62vh;
  }
}
@media screen and (max-height: 690px) {
  .oneroute_widget .chat_messages {
    height: 57vh;
  }
}
@media screen and (max-height: 610px) {
  .oneroute_widget .chat_messages {
    height: 52vh;
  }
}

.oneroute_widget .chat_messages::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}
.oneroute_widget .chat_messages::-webkit-scrollbar-thumb {
  width: 0px;
  background: #999;
  border-radius: 6px;
}

.oneroute_widget .chat_messages .message {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 15px;
}
.oneroute_widget .chat_messages .message.agent {
  justify-content: flex-start;
}

.oneroute_widget .chat_messages .message .agent_img {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.oneroute_widget .chat_messages .message .content {
  padding: 8px 10px;
  padding-right: 12px;
  max-width: 75%;
  background: #e6eaf0;
  border: 1px solid #e6eaf0;
  border-radius: 6px;
}
.oneroute_widget .chat_messages .message.agent .content {
  max-width: 65%;
  background: #ffffff;
  border: 1px solid #cad0d9;
}

.oneroute_widget .chat_messages .message .content img {
  width: 208px;
  min-width: 100%;
  height: 80px;
  object-fit: cover;
  border: 1px solid #efefef;
  border-radius: 6px;
}

.oneroute_widget .chat_messages .message .content h6 {
  margin: 0;
  font-weight: bold;
  font-size: 13.5px;
  line-height: 150%;
  color: #474f58;
  line-break: anywhere;
  white-space: pre-line;
}

.oneroute_widget .chat_messages .message .content .reply_options {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.oneroute_widget .chat_messages .message .content .reply_options p {
  margin: 0;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 12.5px;
  text-align: center;
  color: #474f58;
  border: 1px solid rgba(71, 79, 88, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

.oneroute_widget .chat_messages .message .content p {
  margin: 0;
  margin-top: 7px;
  font-weight: bold;
  font-size: 11.5px;
  text-align: right;
  color: #8f99a6;
}

.oneroute_widget .chat_messages .load_previous {
  margin: 0;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.3px;
}

.oneroute_widget .chat_messages .send_status {
  margin: 0;
  margin-top: -14px;
  margin-bottom: 15px;
  font-size: 11px;
  font-weight: 500;
  color: #555;
  text-align: right;
  letter-spacing: 0.5px;
}

.oneroute_widget .chat_messages .loading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 13px;
  color: #555;
  text-align: center;
  letter-spacing: 0.2px;
}

.oneroute_widget .chat_input_container {
  margin: 5px 12px 12px 12px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #cad0d9;
  border-radius: 6px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .chat_input_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}

.oneroute_widget .chat_input_container:focus-within {
  border: 1px solid #4ba3e7;
}

.oneroute_widget .chat_input_container .input {
  padding: 0;
  font-size: 13.5px;
  letter-spacing: 0.2px;
  width: 100%;
  border: none;
}
.oneroute_widget .chat_input_container .input:hover,
.oneroute_widget .chat_input_container .input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.oneroute_widget .chat_input_container .file_container {
  position: relative;
  width: 80px;
  height: 45px;
}

.oneroute_widget .chat_input_container .file_container .file {
  width: 80px;
  height: 45px;
  object-fit: cover;
  border: 1px solid #efefef;
  border-radius: 6px;
}

.oneroute_widget .chat_input_container .file_container .close {
  position: absolute;
  top: 0px;
  right: -7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #efefef;
  cursor: pointer;
  opacity: 1;
}

.oneroute_widget .chat_input_container .input_actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.oneroute_widget .chat_input_container .input_actions .action {
  margin: 0;
  margin-right: 18px;
  padding: 0;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.oneroute_widget .chat_input_container .input_actions .action:last-child {
  position: absolute;
  right: 24px;
  margin-right: 0px;
}

.oneroute_widget .chat_input_container .input_actions .action img {
  width: 19px;
  height: 19px;
}

.oneroute_widget .chat_container .footer {
  margin-top: 0px;
  padding-bottom: 13px;
  opacity: 0.5;
}

/* LiveChat Container Ends here */

.oneroute_widget .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 !important;
  }
}

.oneroute_widget .footer img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.oneroute_widget .footer span {
  font-weight: 500;
  font-size: 12px;
  color: #757f8a;
}

.oneroute_widget .footer span a {
  text-decoration: none;
  color: #562cca;
}

.oneroute_widget .trigger_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  background: transparent;
  float: right;
}

.oneroute_widget .trigger_container .tooltip {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  font-size: 13.5px;
  letter-spacing: 0.02em;
  max-width: 220px;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgb(167 167 167 / 25%);
  transition: all 0.5s ease;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .trigger_container .tooltip {
    padding: 12px 10px;
    max-width: 190px;
  }
}

.oneroute_widget .trigger_container .tooltip span {
  position: absolute;
  background: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 0 4px 0 0;
  border: 0;
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  right: -8px;
  transform: rotate(45deg);
}

.oneroute_widget .trigger_container .tooltip img {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #efefef;
  cursor: pointer;
  opacity: 1;
  display: none;
}

.oneroute_widget .trigger_container .tooltip:hover img {
  display: block;
}

.oneroute_widget .trigger_container .trigger_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .oneroute_widget .trigger_container .trigger_btn {
    width: 55px;
    height: 55px;
  }
}

.oneroute_widget .trigger_container .trigger_btn img {
  width: 32px;
  height: 32px;
}
.oneroute_widget .trigger_container .trigger_btn img.closed {
  margin-top: -2px;
  margin-right: -2px;
}
